<div class="container">
	<h1><%= @company.title %></h1>	
	<p><%= @company.intro %></p>
	<p><%= @company.address %></p>

	<p>
	<%= link_to "回到公司文章列表", admin_companies_path %>
	</p>


	<h3>相關職缺</h3>
	 
	<%= render "admin/jobs/show" %>

	<%= link_to "新增職缺", new_admin_company_job_path(@company), :class => "btn btn-primary" %>
	

</div>	