
<div class="container">
  <h1>
    <%= current_user.email %>'s Porfile
  </h1>
  <div class="col-md-2">
    <%= render :partial => './resumes/side_bar' %>
  </div>
  <div class="col-md-10">
    <% @jobs.each do |job| %>
      <table>
        <tr>
          <th>公司名稱</th>
          <th>簡介</th>
          <th></th>
        </tr>
        <tr>
          <td><%= link_to job.title, company_path(job.company_id), class: 'btn btn-dafault' %></td>
          <td><%= truncate( job.job_desc, length: 80 )%></td>
          <td><%= link_to "刪除", un_fav_company_job_path(job.company_id,job), method: :post, class: 'btn btn-danger' %> </td>
        </tr>

      </table>
    <% end %>
  </div>
</div>