<div class="container">
<h1>編輯職涯文章</h1>

<%= form_for @career_post, :url => admin_career_post_path do |career_post| %>


<table class = "table table-hover">
	<td>
		<%= career_post.label :title, "標題"%>
		<%= career_post.text_field :title %>
	</td>		
	<td>
			<%= career_post.label :content, "內文" %>
			<%= career_post.text_field :content %>
	</td>
	<td>
			<%= career_post.submit :class => "btn btn-primary" %>
	</td>
</table>

<% end %>

<%= link_to "回到職涯文章列表", admin_career_posts_path %>
</div>