        <!--rev slider start-->
        <div class="fullwidthbanner">
            <div class="tp-banner">
                <ul>
                    <!-- SLIDE -->
                    <li data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Powerful Theme">
                        <!-- MAIN IMAGE -->
                        <%= image_tag "img-01.jpg" ,:alt => "Zeal Vision" , :data => { :bgfit => "cover", :bgposition => "left top", :bgrepeat => "no-repeat" } %>

               <!--          <img src="img/bg-3.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat"> -->
                        <div class="caption title-2 sft"
                             data-x="50"
                             data-y="160"
                             data-speed="1000"
                             data-start="1000"
                             data-easing="easeOutExpo">
                             一個有溫度的公司評鑑平台 <br>
                             推薦給正在找工作的你
                          <!--   Powerful multipurpose <br>
                            Business Template -->
                        </div>



                        <div class="caption text sfl"
                             data-x="50"
                             data-y="290"
                             data-speed="1000"
                             data-start="1800"
                             data-easing="easeOutExpo">
                             ZealTW讓你放下擔心，舒坦的面對未來工作 <br>
                             因為你的職涯，我們在乎
                          <!--   Lorem ipsum dolor sit amet, consectetur adipiscing elit.  <br>
                            lectus. Cras porta nisl at tincidunt tincidunt.  -->
                        </div>
                        <div class="caption sfb rev-buttons tp-resizeme"
                             data-x="50"
                             data-y="360"
                             data-speed="500"
                             data-start="1800"
                             data-easing="Sine.easeOut">
                            <a href="#" class="btn btn-theme-bg btn-lg">現在就去註冊</a>
                        </div>

                        <div class="caption sfb rev-buttons tp-resizeme"
                             data-x="250"
                             data-y="360"
                             data-speed="500"
                             data-start="2100"
                             data-easing="Sine.easeOut">
                            <a href="#" class="btn border-white btn-lg">我要看好公司</a>
                        </div>

                    </li>
                    <!-- SLIDE -->
                    <li data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Unique Theme">
                        <!-- MAIN IMAGE -->
                      <!--   <img src="img/showcase-4.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat"> -->
                      <%= image_tag "sales-team-tips-adj.jpg" ,:alt => "Zeal Vision" , :data => { :bgfit => "cover", :bgposition => "left top", :bgrepeat => "no-repeat" } %>

                        <div class="caption text-center-top sft"
                             data-x="center"
                             data-y="210"
                             data-speed="1000"
                             data-start="1400"
                             data-easing="easeOutExpo">
                            體驗公司文化
                        </div>

                        <div class="caption text-center-btm sfr text-center"
                             data-x="center"
                             data-y="265"
                             data-speed="1000"
                             data-start="1600"
                             data-easing="easeOutExpo">

                            在面試前，透過公司理念與員工推薦<br>
                            深度了解工作，提高找到合適工作的機率！

                        </div>
                        <div class="caption sfb rev-buttons tp-resizeme"
                             data-x="center"
                             data-y="380"
                             data-speed="500"
                             data-start="1800"
                             data-easing="Sine.easeOut">
                            <a href="#" class="btn border-white btn-lg">認識更多公司</a>
                        </div>
                    </li>
                    <!-- SLIDE -->
                    <li data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Multipurpose">
                        <!-- MAIN IMAGE -->
                     <!--    <img src="img/bg-1.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat"> -->

                     <%= image_tag "techandall_workstation_mockup2_LP.jpg" ,:alt => "Zeal Vision" , :data => { :bgfit => "cover", :bgposition => "left top", :bgrepeat => "no-repeat" } %>
                        <!-- LAYER NR. 1 -->
                        <div class="caption left-tile-text sfr tp-resizeme"
                             data-x="40"
                             data-y="110"
                             data-speed="600"
                             data-start="1200"
                             data-end="9400"
                             data-endspeed="600">為何 Zeal 值得信任
                        </div>

                        <!-- LAYER NR. 2 -->
                        <div class="caption medium_bg_darkblue sfl medium tp-resizeme"
                             data-x="40"
                             data-y="170"
                             data-speed="600"
                             data-start="1600"
                             data-end="9400"
                             data-endspeed="600"><i class="fa fa-check"></i>
                        </div>

                        <!-- LAYER NR. 3 -->
                        <div class="caption modern_big_redbg sfb medium tp-resizeme"
                             data-x="90"
                             data-y="170"
                             data-speed="600"
                             data-start="1600"
                             data-end="9400"
                             data-endspeed="600">多數來自員工主動推薦
                        </div>

                        <!-- LAYER NR. 4 -->
                        <div class="caption medium_bg_darkblue sfl medium tp-resizeme"
                             data-x="40"
                             data-y="220"
                             data-speed="600"
                             data-start="1800"
                             data-end="9400"
                             data-endspeed="600"><i class="fa fa-check"></i>
                        </div>

                        <!-- LAYER NR. 5 -->
                        <div class="caption modern_big_redbg sfb medium tp-resizeme"
                             data-x="90"
                             data-y="220"
                             data-speed="600"
                             data-start="1800"
                             data-end="9400"
                             data-endspeed="600">真實傳達公司文化
                        </div>

                        <!-- LAYER NR. 6 -->
                        <div class="caption medium_bg_darkblue sfl medium tp-resizeme"
                             data-x="40"
                             data-y="270"
                             data-speed="600"
                             data-start="2000"
                             data-end="9400"
                             data-endspeed="600"><i class="fa fa-check"></i>
                        </div>

                        <!-- LAYER NR. 7 -->
                        <div class="caption modern_big_redbg sfb medium tp-resizeme"
                             data-x="90"
                             data-y="270"
                             data-speed="600"
                             data-start="2000"
                             data-end="9400"
                             data-endspeed="600">基層員工實名推薦
                        </div>

                        <!-- LAYER NR. 8 -->
                        <div class="caption medium_bg_darkblue sfl medium tp-resizeme"
                             data-x="40"
                             data-y="320"
                             data-speed="600"
                             data-start="2200"
                             data-end="9400"
                             data-endspeed="600"><i class="fa fa-check"></i>
                        </div>

                        <!-- LAYER NR. 9 -->
                        <div class="caption modern_big_redbg sfb medium tp-resizeme"
                             data-x="90"
                             data-y="320"
                             data-speed="600"
                             data-start="2200"
                             data-end="9400"
                             data-endspeed="600">真切關心你的職涯體驗
                        </div>

 <!--                        LAYER NR. 10
                        <div class="caption modern_big_redbg sfb medium tp-resizeme"
                             data-x="40"
                             data-y="370"
                             data-speed="600"
                             data-start="2400"
                             data-end="9400"
                             data-endspeed="600">還有更多...
                        </div> -->

                    </li>
                </ul>
            </div>
        </div><!--full width banner-->
        <!--revolution end-->


 <div class="divide70"></div>
        <div class="assan-features">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="center-heading">
                            <h2>職缺分類 <strong>尋找適合職缺！</strong></h2>
                            <span class="center-line"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6 margin20">
                        <div class="services-box wow animated fadeIn" data-wow-duration="700ms" data-wow-delay="100ms">
                            <div class="services-box-icon">
                                <i class="fa fa-code"></i>
                            </div><!--services icon-->
                            <div class="services-box-info">
                                <h4>前端工程</h4>
                                <p>
                                    也稱為客戶端的開發。常使用HTML，CSS和JavaScript製作一個網站或Web應用程序，使用戶可看到並與之互動。
                                </p>
                            </div>
                        </div><!--services box-->
                    </div><!--services col-->
                    <div class="col-md-4 col-sm-6 margin20">
                        <div class="services-box wow animated fadeIn" data-wow-duration="700ms" data-wow-delay="200ms">
                            <div class="services-box-icon">
                                <i class="fa fa-code-fork"></i>
                            </div><!--services icon-->
                            <div class="services-box-info">
                                <h4>後端工程</h4>
                                <p>
                                    後端代碼是在server上運行，而不是在客戶端。這意味著不僅需要了解編程語言和數據庫，但他們必須有server架構的理解。
                                </p>
                            </div>
                        </div><!--services box-->
                    </div><!--services col-->
                    <div class="col-md-4 col-sm-6 margin20">
                        <div class="services-box wow animated fadeIn" data-wow-duration="700ms" data-wow-delay="300ms">
                            <div class="services-box-icon">
                                <i class="fa fa-users"></i>
                            </div><!--services icon-->
                            <div class="services-box-info">
                                <h4>專案管理</h4>
                                <p>
                                   IT項目經理是負責監督計劃的過程中，執行和周圍組織的信息技術（IT）的追求和目標責任委託一個專業。
                                </p>
                            </div>
                        </div><!--services box-->
                    </div><!--services col-->

                    <div class="col-md-4 col-sm-6 margin20">
                        <div class="services-box wow animated fadeIn" data-wow-duration="700ms" data-wow-delay="400ms">
                            <div class="services-box-icon">
                                <i class="fa fa-mobile" aria-hidden="true"></i>
                            </div><!--services icon-->
                            <div class="services-box-info">
                                <h4>行動開發</h4>
                                <p>
                                    移動應用開發是用於表示由應用軟件為手持設備，如個人數字助理，企業數字助理或移動電話開發的行為或過程的一個術語。
                                </p>
                            </div>
                        </div><!--services box-->
                    </div><!--services col-->
                    <div class="col-md-4 col-sm-6 margin20">
                        <div class="services-box wow animated fadeIn" data-wow-duration="700ms" data-wow-delay="500ms">
                            <div class="services-box-icon">
                                <i class="fa fa-image"></i>
                            </div><!--services icon-->
                            <div class="services-box-info">
                                <h4>設計</h4>
                                <p>
                                    網頁設計包括生產和維護網站的許多不同的技能和學科。網頁設計的不同領域包括網頁圖形設計，標準化的代碼和用戶體驗設計。
                                </p>
                            </div>
                        </div><!--services box-->
                    </div><!--services col-->
                    <div class="col-md-4 col-sm-6 margin20">
                        <div class="services-box wow animated fadeIn" data-wow-duration="700ms" data-wow-delay="600ms">
                            <div class="services-box-icon">
                                <i class="fa fa-flag"></i>
                            </div><!--services icon-->
                            <div class="services-box-info">
                                <h4>市場營運</h4>
                                <p>
                                    數位行銷活動是搜索引擎優化（SEO），搜索引擎營銷（SEM），影響者營銷，內容自動化，運動營銷和電子商務營銷。

                                </p>

                            </div>
                        </div><!--services box-->
                    </div><!--services col-->
                </div><!--services row-->
            </div>
        </div><!--assan features-->

        <div class="divide50"></div>
        <div class="wide-img-showcase">

            <div class="row margin-0 wide-img-showcase-row">
                <div class="col-sm-6 no-padding  img-2 ">
                    <div class="no-padding-inner ">
                        <div>&nbsp;</div>
                    </div>
                </div>
                <div class="col-sm-6 col-sm-offset-6 no-padding gray">
                    <div class="no-padding-inner gray">
                        <h3 class="wow animated fadeInDownfadeInRight">和 <span class="colored-text">Zeal</span> 一起找工作吧！</h3>
                        <div class="services-box margin30 wow animated fadeInRight">
                            <div class="services-box-icon">
                                <i class="fa fa-tablet"></i>
                            </div><!--services icon-->
                            <div class="services-box-info">
                                <h4>瞭解公司</h4>
                                <p>
                                    透過工作照片、公司願景與文化讓求職者在面試前更了解公司。
                                </p>
                            </div>
                        </div><!--service box-->
                        <div class="services-box margin30 wow animated fadeInRight">
                            <div class="services-box-icon">
                                <i class="fa fa-pencil-square-o"></i>
                            </div><!--services icon-->
                            <div class="services-box-info">
                                <h4>實名推薦</h4>
                                <p>
                                    透過現任/前員工的實名推薦，得到第一手的真實資訊。
                                </p>
                            </div>
                        </div><!--service box-->

                        <div class="services-box margin30 wow animated fadeInRight">
                            <div class="services-box-icon">
                                <i class="fa fa-code"></i>
                            </div><!--services icon-->
                            <div class="services-box-info">
                                <h4>開心上班</h4>
                                <p>
                                    選擇最合適的Offer，開啟一段新的職涯旅程！
                                </p>
                            </div>
                            <div class="divide30"></div>
                            <!-- <p><a href="#" class="btn btn-theme-dark btn-lg">Purchase Now</a></p> -->
                            <p><%= link_to "瀏覽職缺", career_posts_path, :class => "btn btn-theme-dark btn-lg" %></p>
                        </div><!--service box-->

                    </div>
                </div>
            </div>
        </div><!--wide image showcase end-->
        <section class="fun-fact-wrap fun-facts-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 margin20 facts-in">
                        <h3><span class="counter">2600</span> +</h3>
                        <h4>網路公司</h4>
                    </div><!--facts in-->
                    <div class="col-md-3 margin20 facts-in">
                        <h3><span class="counter">4500</span></h3>
                        <h4>火紅職缺</h4>
                    </div><!--facts in-->
                    <div class="col-md-3 margin20 facts-in">
                        <h3><span class="counter">3600</span> +</h3>
                        <h4>求職者</h4>
                    </div><!--facts in-->
                    <div class="col-md-3 margin20 facts-in">
                        <h3><span class="counter">250</span></h3>
                        <h4>本月錄取</h4>
                    </div><!--facts in-->
                </div>
            </div>
        </section><!--fun facts-->
        <div class="testimonials-v-2 wow animated fadeInUp" data-wow-duration="700ms" data-wow-delay="100ms">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="center-heading">
                            <h2>看看他們<strong>怎麼說</strong></h2>
                            <p>3600+ 求職者都在使用ZEAL</p>
                            <span class="center-line"></span>

                        </div>
                    </div>
                </div><!--center heading end-->

                <div class="row">

                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="testi-slide">
                            <ul class="slides">
                                <li>
                                    <%= image_tag "panico.jpg", :alt => "candidate-01" %>
                                    <!-- <img src="img/customer-1.jpg" alt=""> -->
                                    <p>
                                        <i class="ion-quote"></i>
                                        ZEAL打破了用戶和企業HR，技術中層之間的藩籬。我在ZEAL得到許多在ptt、104等地方找不到的資訊。讓我在挑選Offer的時候，更加得安心！
                                    </p>
                                    <h4 class="test-author">
                                        台北川景子 - <em>產品經理</em>
                                    </h4>
                                </li><!--testi item-->
                                <li>
                                <%= image_tag "andy.jpg", :alt => "candidate-02" %>
                                    <!-- <img src="img/customer-2.jpg" alt=""> -->
                                    <p>
                                        <i class="ion-quote"></i>
                                        ZEAL最大的不同在於：提供的是服務而並非是工具。
                                        他們在乎整個應聘流程中你的體驗，而不是傻乎乎的給你個鏈接：『OK，你到上面投簡歷吧，後面我們不管了』。 </p>
                                    <h4 class="test-author">
                                        武當山德勒 - <em>Rails Developer</em>
                                    </h4>
                                </li><!--testi item-->
                                <li>
                                <%= image_tag "jerry.jpg", :alt => "candidate-02" %>
                                    <!-- <img src="img/customer-3.jpg" alt=""> -->
                                    <p>
                                        <i class="ion-quote"></i>
                                        一周時間，我完成了從挑選公司、面試到談offer入職的全過程。 ZEAL提供高品質的訊息，讓我在準備面試時時，有了充足的資訊。</p>
                                    <h4 class="test-author">
                                        阿里山下智久 - <em>iOS developer</em>
                                    </h4>
                                </li><!--testi item-->
                            </ul>
                        </div><!--flex slider testimonials end here-->
                    </div>
                </div><!--testi slider row end-->

            </div>
        </div><!--testimonials v-2 end-->
        <div class="blue-bg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h3>來看看Zeal精心挑選的公司吧</h3>
                    </div>
                </div>
            </div>
        </div><!--full wide 2 columns content end-->


        <div class="divide70"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="center-heading">
                        <h2><strong>最新</strong>職缺</h2>
                        <span class="center-line"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 margin30">
                    <div>
                        <a href="#">
                            <div class="item-img-wrap">
                                <%= image_tag "company-01.jpg", :class => "img-responsive", :alt => "company-01" %>
                               <!--  <img src="img/img-8.jpg" class="img-responsive" alt="workimg"> -->
                                <div class="item-img-overlay">
                                    <span></span>
                                </div>
                            </div>
                        </a><!--news link-->
                        <div class="news-desc">
                            <span>Zaktor</span>
                            <h4><a href="#">後端工程師</a></h4>
                            <span>年薪：NT$ 570,000 - 855,000</span> <span><a href="#">Read more...</a></span>
                        </div><!--news desc-->
                    </div>
                </div><!--news col-->
                <div class="col-sm-4 margin30">
                    <div>
                        <a href="companies/22">
                            <div class="item-img-wrap">

                             <%= image_tag"company-02.jpg", :class => "img-responsive", :alt => "company-02" %>
                             <!--  <%= link_to image_tag("company-02.jpg"), company_path(22), :class => "img-responsive", :alt => "company-02", :method => "get" %> -->
                               <!--  <img src="company-02.jpg" class="img-responsive" alt="workimg"> -->
                                <div class="item-img-overlay">
                                    <span></span>
                                </div>
                            </div>
                       <!--  </a>  --><!-- news link  -->
                        <div class="news-desc">
                            <span>"NIAMOD LATIGID"</span>
                            <h4><a href="#">UI/UX Designer</a></h4>
                            <span>年薪：NT$ 620,000 - 850,000</span> <span><!-- <a href="#">Read more...</a> -->
                                <%= link_to "Read more...", company_path(22), :method => "get"%>
                            </span>
                        </div><!--news desc-->
                    </div>
                </div><!--news col-->
                <div class="col-sm-4 margin30">
                    <div>
                        <a href="#">
                            <div class="item-img-wrap">
                              <%= image_tag "company-03.jpg", :class => "img-responsive", :alt => "company-03" %>
                                <!-- <img src="img/img-6.jpg" class="img-responsive" alt="workimg"> -->
                                <div class="item-img-overlay">
                                    <span></span>
                                </div>
                            </div>
                        </a><!--news link-->
                        <div class="news-desc">
                            <span>Innovation capsule</span>
                            <h4><a href="#">資深前端工程師</a></h4>
                            <!-- <span>By <a href="#">Author</a> on 24 july 2014</span> <span><a href="#">Read more...</a></span> -->
                            <span>年薪：NT$ 600,000 - 900,000</span> <span><a href="#">Read more...</a></span>
                        </div><!--news desc-->
                    </div>
                </div><!--news col-->
            </div>
        </div><!--latest news-->

        <div class="divide40"></div>
        <div class="intro-text-1 light">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8">
                        <h4 class="animated slideInDown">台灣的好公司，你看到了嗎？

                        </h4>

                        <p>
                            讓每位求職者都能真正選擇適合自己的未來
                        </p>
                    </div>
                    <div class="col-sm-4">
                        <a href="#" class="btn border-theme btn-lg">現在註冊</a>
                    </div>
                </div>
            </div>
        </div> <!--intro text end-->





