
        <div class="divide80"></div>
        <div class="container blog-left-img">
            <div class="row">
                <div class="col-md-3 col-md-offset-1">
                    <div class="sidebar-box margin40">
                        <h4>Search</h4>
                        <form role="form" class="search-widget">
                            <input type="text" class="form-control">
                            <i class="fa fa-search"></i>
                        </form>
                    </div><!--sidebar-box-->
                    <div class="sidebar-box margin40">
                        <h4>Categories</h4>
                        <ul class="list-unstyled cat-list">
                            <li> <a href="#">前端工程</a> <i class="fa fa-angle-right"></i></li>
                            <li> <a href="#">後端工程</a> <i class="fa fa-angle-right"></i></li>
                            <li> <a href="#">專案管理</a> <i class="fa fa-angle-right"></i></li>
                            <li> <a href="#">行動開發</a> <i class="fa fa-angle-right"></i></li>
                            <li> <a href="#">設計</a> <i class="fa fa-angle-right"></i></li>
                            <li> <a href="#">行銷</a> <i class="fa fa-angle-right"></i></li>
                            <li> <a href="#">業務</a> <i class="fa fa-angle-right"></i></li>
                        </ul>
                    </div><!--sidebar-box-->
                    <div class="sidebar-box margin40">
                        <h4>Tag Cloud</h4>
                        <div class="tag-list">
                            <a href="#">Java</a>
                            <a href="#">Rails</a>
                            <a href="#">PHP</a>
                            <a href="#">Python</a>
                            <a href="#">AJAX</a>
                            <a href="#">javascript</a>
                            <a href="#">SQL</a>
                            <a href="#">UI Designer</a>
                            <a href="#">AWS</a>
                            
                        </div>
                    </div>
                </div><!--sidebar-col-->
                <div class="col-md-8">
                    <div class="blog-post">

                        <div class="row">
                            <div class="col-md-6 margin20">
                                <a href="#">
                                    <div class="item-img-wrap">
                                        <%= image_tag "company/Trollback_Company_office.JPG", :class=> "img-responsive", :alt => "Company View"  %>
                                        <div class="item-img-overlay">
                                            <span></span>
                                        </div>
                                    </div>                       
                                </a><!--work link--> 
                            </div>
                            <div class="col-md-6 margin20">
                                <ul class="list-inline post-detail">
                                    <li><i class="fa fa-flag"></i> Xobkk</li>
                                    <li><i class="fa fa-tag"></i> <a href="#">線上音樂產業</a></li>
                                </ul>
                                <h2><a href="#">Ruby on <red>Rails</red> Developer</a></h2>
                                <p>
                                    有Ruby的動手知識on <red>Rails</red>的，HAML/ SCSS
                                    有JavaScript框架中的至少一個方面的知識（AngularJS/ Ember.js，反應，jQuery的）
                                    你知道如何使用數據庫和各種查詢有效地處理
                                    可以有效地搜索所需信息
                                    你有足夠的溝通能力與團隊和客戶合作
                                </p>
                                <p><a href="blog-single.html" class="btn btn-theme-dark">Read More...</a></p>
                            </div>
                        </div>
                    </div><!--blog post-->
                       <div class="blog-post">

                        <div class="row">
                            <div class="col-md-6 margin20">
                                <a href="#">
                                    <div class="item-img-wrap">
                                        <%= image_tag "company/milennial-work-space.jpg", :class=> "img-responsive", :alt => "Company View"  %>
                                        <div class="item-img-overlay">
                                            <span></span>
                                        </div>
                                    </div>                       
                                </a><!--work link--> 
                            </div>
                            <div class="col-md-6 margin20">
                                <ul class="list-inline post-detail">
                                    <li><i class="fa fa-flag"></i> Nopv</li>
                                    <li><i class="fa fa-tag"></i> <a href="#">行動數據科技業</a></li>
                                </ul>
                                <h2><a href="#">Sr Ruby on <red>Rails</red> Developer</a></h2>
                                <p>
                                    設計，構建和維護有效的，可重複使用的，可靠的Ruby代碼
                                    數據存儲解決方案的整合，可能包括數據庫，鍵值存儲，BLOB等
                                    由前端開發人員與服務器端邏輯開發面向用戶的元素整合
                                    找出瓶頸和缺陷，並制定解決這些問題
                                    有助於維護代碼質量，組織和自動化
                                    RSpec
                                    <red>Rails</red> 
                                    Practical Object Oriented Design in Ruby
                                    Continuous Deployment
                                </p>
                                <p><a href="blog-single.html" class="btn btn-theme-dark">Read More...</a></p>
                            </div>
                        </div>
                    </div><!--blog post-->
                      <div class="blog-post">

                        <div class="row">
                            <div class="col-md-6 margin20">
                                <a href="#">
                                    <div class="item-img-wrap">
                                        <%= image_tag "company/3039596-poster-p-1-most-innovative-companies-2015-general-assembly.jpg", :class=> "img-responsive", :alt => "Company View"  %>
                                        <div class="item-img-overlay">
                                            <span></span>
                                        </div>
                                    </div>                       
                                </a><!--work link--> 
                            </div>
                            <div class="col-md-6 margin20">
                                <ul class="list-inline post-detail">
                                    <li><i class="fa fa-flag"></i>100倍綠寶石</li>
                                    <li><i class="fa fa-tag"></i> <a href="#">資訊培訓及顧問產業</a></li>
                                </ul>
                                <h2><a href="#">Web Application Developer, Ruby on <red>Rails</red></a></h2>
                                <p>
                                    建立互動網站與一個或多個系統，集成與最新的Web框架，比如Ruby on <red>Rails</red>的
                                    強烈關注Web表現層技術，如JavaScript庫和CSS。
                                    創建和使用RESTful API中和Web服務。
                                    與中間層，服務器端的web技術，如<red>Rails</red>的，Java的工作。
                                    從需求，規範和樣機動態，全功能的Web應用程序的工作。
                                </p>
                                <p>
                                <%= link_to "Read More...", company_path(22), :class => "btn btn-theme-dark", :method => "get"  %>
                                </p>
                                <!-- <p><a href="blog-single.html" class="btn btn-theme-dark">Read More...</a></p> -->
                            </div>
                        </div>
                    </div><!--blog post-->
                      <div class="blog-post">

                        <div class="row">
                            <div class="col-md-6 margin20">
                                <a href="#">
                                    <div class="item-img-wrap">
                                        <%= image_tag "company/working-area.jpg", :class=> "img-responsive", :alt => "Company View"  %>
                                        <div class="item-img-overlay">
                                            <span></span>
                                        </div>
                                    </div>                       
                                </a><!--work link--> 
                            </div>
                            <div class="col-md-6 margin20">
                                <ul class="list-inline post-detail">
                                    <li><i class="fa fa-flag"></i> 拉卡愛互動媒體</li>
                                    <li><i class="fa fa-tag"></i> <a href="#">電腦軟體服務業</a></li>
                                </ul>
                                <h2><a href="#">Web Software Developer</a></h2>
                                <p>
                                    2年以上Ruby on <red>Rails</red>的版本4的開發經驗
                                    必須有經驗的遠程工作
                                    5年以上面向對象，網絡軟件開發
                                    體驗客戶端的開發技術，包括HTML5，CSS，JQuery的，使用Javascript，AJAX，JSON
                                    利用Twitter的引導響應的網頁開發經驗
                                </p>
                                <p><a href="blog-single.html" class="btn btn-theme-dark">Read More...</a></p>
                            </div>
                        </div>
                    </div><!--blog post-->
                    <ul class="pager">
                        <li class="previous"><a href="#">&larr; Previous Page</a></li>
                        <li class="next"><a href="#">Next Page &rarr;</a></li>
                    </ul><!--pager-->
                </div><!--col-->
            </div><!--row for blog post-->
        </div><!--blog full main container-->
      
        