
<%= form_for @company do |company| %>

<table class = "table table-hover">
	<td>
		<%= company.label :title, "公司名稱"%>
		<%= company.text_field :title %>
	</td>		
	<td>
			<%= company.label :intro, "公司介紹" %>
			<%= company.text_field :intro %>
	</td>
		<td>
			<%= company.label :address, "公司地址" %>
			<%= company.text_field :address %>
	</td>
	<td>
			<%= company.submit :class => "btn btn-primary"%>
	</td>
<% end %>
	
</table>
