<div class="divide80"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="testi-carousel" class="owl-carousel owl-spaced">
                <div>
                    <!--    <img src="company-posts-01.jpg/company-posts-01.jpg" class="img-responsive" alt=""> -->
                    <%= image_tag "company-posts/company-posts-01.jpg",:alt => "img01" ,:class => "img-responsive" %>
                </div>
                <div>
                    <!--     <img src="company-posts-01.jpg/company-posts-02.jpg" class="img-responsive" alt=""> -->
                    <%= image_tag "company-posts/company-posts-02.jpg",:alt => "img02" ,:class => "img-responsive" %>
                </div>
                <div>
                    <!--      <img src="company-posts-01.jpg/company-posts-03.jpg" class="img-responsive" alt=""> -->
                    <%= image_tag "company-posts/company-posts-03.jpg",:alt => "img03" ,:class => "img-responsive" %>
                </div>
            </div>
        </div>
    </div><!--img slide row-->

<div class="divide35"></div>

    <div class="divide120">
        <div class="container">
            <div class="row">
                <div class="col-md-4 margin-btm-20">
                    <div class="quote dark">
                        <blockquote>
                            <p>
                                人性化, 在追求利潤之餘也value員工價值, 注重社會責任
                            </p>
                        </blockquote>
                    </div>
                    <div class="quote-footer text-right">
                        <div class="quote-author-img">
                            <%= image_tag "audrey.jpg" ,:alt => "Zeal Vision" %>
                        </div>
                        <h4>松江南京安潔莉納裘莉</h4>
                        <p>
                            <strong>產品經理</strong>
                        </p>
                    </div>
                </div><!--colored quote box col-->
                <div class="col-md-4 margin-btm-20">
                    <div class="quote green">
                        <blockquote>
                            <p>
                                準時上下班，薪水符合標準，福利優厚
                            </p>
                        </blockquote>
                    </div>
                    <div class="quote-footer text-right">
                        <div class="quote-author-img">
                            <%= image_tag "yuchen.jpg" ,:alt => "Zeal Vision" %>
                        </div>
                        <h4>三重劉德華</h4>
                        <p>
                            <strong>資深 前端工程師</strong>
                        </p>
                    </div>
                </div><!--colored quote box col-->
                <div class="col-md-4 margin-btm-20">
                    <div class="quote dark">
                        <blockquote>
                            <p>
                                工作氣氛愉悅、沒在給你補上班的、薪水也在標準之上、辦公室棒棒
                            </p>
                        </blockquote>
                    </div>
                    <div class="quote-footer text-right">
                        <div class="quote-author-img">
                            <%= image_tag "web_leo.jpg" %>
                        </div>
                        <h4>新竹林七賢</h4>
                        <p>
                            <strong>前端工程師</strong>
                        </p>
                    </div>
                </div><!--colored quote box col-->
            </div><!--testimonials row-->
            <div class="row">
                <div class="col-md-4 margin-btm-20">
                    <div class="quote green">
                        <blockquote>
                            <p>
                                公司裡有貓！有貓！有貓！身為貓奴的我推推
                            </p>
                        </blockquote>
                    </div>
                    <div class="quote-footer text-right">
                        <div class="quote-author-img">
                            <%= image_tag "chialin.jpg" %>
                        </div>
                        <h4>永和張娜拉</h4>
                        <p>
                            <strong>UI/UX 設計師</strong>
                        </p>
                    </div>
                </div><!--colored quote box col-->
                <div class="col-md-4 margin-btm-20">
                    <div class="quote dark">
                        <blockquote>
                            <p>
                                薪資合理，一年一度海外旅遊，不時的公司聚餐
                            </p>
                        </blockquote>
                    </div>
                    <div class="quote-footer text-right">
                        <div class="quote-author-img">
                            <%= image_tag "chiao.jpg" %>
                        </div>
                        <h4>嘉義梁朝偉</h4>
                        <p>
                            <strong>Rails 開發者</strong>
                        </p>
                    </div>
                </div><!--colored quote box col-->
                <% if Comment.all.last %>
                    <div class="col-md-4 margin-btm-20">
                        <div class="quote green">
                            <blockquote>
                                <p>
                                   <%= Comment.last.content %>
                                </p>
                            </blockquote>
                        </div>
                        <div class="quote-footer text-right">
                            <div class="quote-author-img">
                                <%= image_tag "yeng.jpg" %>
                            </div>
                            <h4>行天宮崎駿</h4>
                            <p>
                                <strong>掃地員工</strong>
                            </p>
                        </div>
                    </div><!--colored quote box col-->
                <% end %>
            </div><!--testimonials row-->
            <div class="row">
                <div class="col-md-1">
                        <div class="quote-footer text-right">
                            <div class="quote-author-img">
                                <%= image_tag "yeng.jpg", id: "commenter-photo" %>
                            </div>
                        </div>
                </div>
                <div class="col-md-11">
                  <div id="comment-form">
                    <%= form_for @comment, :url => write_comment_company_path( @company ) do |f| %>

                    <div class="form-group">
                      <%= f.label :content, "我要推薦好公司"%>
                      <%= f.text_area :content ,:class => "form-control" %>
                    </div>
                      <%= f.submit "Create", :class => "btn btn-theme-bg", :id => "comment-submit" %>
                    <% end %>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <section>
    <div class="heading">
        <div class="content">
            <h1>Brief vision</h1>
            <p>join us</p>
        </div>
    </div>
</section>



<section class="our-work">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <%= image_tag "http://placehold.it/360x200" %>
            </div>
            <div class="col-md-4">
                <%= image_tag "http://placehold.it/360x200" %>
            </div>
            <div class="col-md-4">
                <%= image_tag "http://placehold.it/360x200" %>
            </div>
        </div>
    </div>
</section>

<div class="clearfix"></div>

<section class="our-team">
    <div class="container">
        <h2>Meet our team</h2>

        <div class="team-content">
            <div class="pull-left">
                    <%= image_tag "http://placehold.it/360x200" %>
            </div>
            <div class="col-md-6 team-intro">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam quisquam possimus tenetur natus, accusantium necessitatibus praesentium. Vitae ipsam aperiam molestias. Illum aspernatur dignissimos excepturi vitae natus cumque doloremque dolor cum, libero asperiores culpa, sapiente obcaecati. Nam perspiciatis hic nesciunt tenetur. Expedita iusto, ipsam nihil sapiente voluptas aspernatur maiores, dolor sint.
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="team-content">
            <div class="pull-left">
                    <%= image_tag "http://placehold.it/360x200" %>
            </div>
            <div class="col-md-6 team-intro">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam quisquam possimus tenetur natus, accusantium necessitatibus praesentium. Vitae ipsam aperiam molestias. Illum aspernatur dignissimos excepturi vitae natus cumque doloremque dolor cum, libero asperiores culpa, sapiente obcaecati. Nam perspiciatis hic nesciunt tenetur. Expedita iusto, ipsam nihil sapiente voluptas aspernatur maiores, dolor sint.
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="team-content">
            <div class="pull-left">
                    <%= image_tag "http://placehold.it/360x200" %>
            </div>
            <div class="col-md-6 team-intro">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam quisquam possimus tenetur natus, accusantium necessitatibus praesentium. Vitae ipsam aperiam molestias. Illum aspernatur dignissimos excepturi vitae natus cumque doloremque dolor cum, libero asperiores culpa, sapiente obcaecati. Nam perspiciatis hic nesciunt tenetur. Expedita iusto, ipsam nihil sapiente voluptas aspernatur maiores, dolor sint.
            </div>
        </div>

    </div>

</section> -->



<div id="myModal" class="modal">
    svsbvliwnbo;wbn;onbrn
</div>



<script type="text/javascript">

    $('.share').click(function(){
      $('.share-panel').toggleClass('show');
    })

    $('.copy-link').blur(function(){
      $('.share-panel').removeClass('show');
    })

    // document.querySelector('.timer-alert').onclick = function () {
    //     swal({
    //         title: "Auto close alert!",
    //         text: "I will close in 3 seconds.",
    //         timer: 3000,
    //         showConfirmButton: false
    //     });
    // };
    // document.querySelector('.success-alert').onclick = function () {
    //     swal("Good job!", "You clicked the button!", "success");
    // };
    // document.querySelector('.simple-alert').onclick = function () {
    //     swal({
    //         title: "Welcome in Alerts",
    //         text: "Lorem Ipsum is simply dummy text of the printing and typesetting industry."
    //     });
    // };
    // document.querySelector('.warning-alert').onclick = function () {
    //     swal({
    //         title: "Are you sure?",
    //         text: "You will not be able to recover this imaginary file!",
    //         type: "warning",
    //         showCancelButton: true,
    //         confirmButtonColor: '#DD6B55',
    //         confirmButtonText: 'Yes, delete it!',
    //         closeOnConfirm: false
    //     },
    //     function () {
    //         swal("Deleted!", "Your imaginary file has been deleted!", "success");
    //     });
    // };

    // var modal = document.getElementById('myModal');

    //  $('.simple-alert').click(function(){
    //   swal({
    //         title: "UI/UX Designer",
    //         text: "Familiar with source code management systems like git Experience with mobile apps development process and asset management Intimate understanding of design concepts and trends as they pertain to web graphics Familiar with CSS, LESS, and SASS Really experienced with Photoshop and other design tools for creation of pixel perfect artwork Knowledge of media processing is a plus but not required"
    //     });
    // })


</script>