	
<h1><%= @company.title %></h1>	
<p><%= @company.intro %></p>
<p><%= @company.address %></p>


<h3>相關職缺</h3>
 
<%= render "jobs/show" %>

<%= link_to "回到公司文章列表", companies_path %>

<%= link_to "新增職缺", new_company_job_path(@company), :class => "btn btn-primary" %>



