
<section>
	<div class="heading">
		<div class="content">
			<h1>Brief vision</h1>
			<p>join us</p>
		</div>
	</div>
</section>

<section class="our-work">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<%= image_tag "http://placehold.it/360x200" %>	
			</div>
			<div class="col-md-4">
				<%= image_tag "http://placehold.it/360x200" %>
			</div>
			<div class="col-md-4">
				<%= image_tag "http://placehold.it/360x200" %>
			</div>
		</div>
	</div>	
</section>

<div class="clearfix"></div>	

<section class="our-team">
	<div class="container">
		<h2>Meet our team</h2>
		
		<div class="team-content">
			<div class="pull-left">
					<%= image_tag "http://placehold.it/360x200" %>	
			</div>
			<div class="col-md-6 team-intro">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam quisquam possimus tenetur natus, accusantium necessitatibus praesentium. Vitae ipsam aperiam molestias. Illum aspernatur dignissimos excepturi vitae natus cumque doloremque dolor cum, libero asperiores culpa, sapiente obcaecati. Nam perspiciatis hic nesciunt tenetur. Expedita iusto, ipsam nihil sapiente voluptas aspernatur maiores, dolor sint.
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="team-content">
			<div class="pull-left">
					<%= image_tag "http://placehold.it/360x200" %>	
			</div>
			<div class="col-md-6 team-intro">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam quisquam possimus tenetur natus, accusantium necessitatibus praesentium. Vitae ipsam aperiam molestias. Illum aspernatur dignissimos excepturi vitae natus cumque doloremque dolor cum, libero asperiores culpa, sapiente obcaecati. Nam perspiciatis hic nesciunt tenetur. Expedita iusto, ipsam nihil sapiente voluptas aspernatur maiores, dolor sint.
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="team-content">
			<div class="pull-left">
					<%= image_tag "http://placehold.it/360x200" %>	
			</div>
			<div class="col-md-6 team-intro">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam quisquam possimus tenetur natus, accusantium necessitatibus praesentium. Vitae ipsam aperiam molestias. Illum aspernatur dignissimos excepturi vitae natus cumque doloremque dolor cum, libero asperiores culpa, sapiente obcaecati. Nam perspiciatis hic nesciunt tenetur. Expedita iusto, ipsam nihil sapiente voluptas aspernatur maiores, dolor sint.
			</div>
		</div>

	</div>
</section>


<div class="container">
<h2>公司職缺</h2>

<% @jobs.each do |job| %>

<h2><%= job.title %></h2>

<p><%= job.job_desc %></p>

<p><%= job.seniority %></p>

<% end %>
</div>