<table class = "table">
	<h1>職涯文章列表</h1>
	<%= link_to "新增職涯文章", new_career_post_path, :class => "btn btn-primary" %>
</table>
		
<div class="tab-content">
	<div id="home" class="tab-pane fade in active">
		<h3>職涯文章</h3>
		<table class = "table">
			<tr>
				<th>標題</th>
				<th>內文</th>
				<th>創建時間</th>
				<th>最後更新時間</th>
				<th> </th>
				<th> </th>
			</tr>
			<% @career_posts.each do |career_post| %>		
				<tr>
					<td><%= career_post.title %></td>
					<td><%= career_post.content %></td>
					<td><%= career_post.created_at.localtime.to_s(:short) %></td>
					<td><%= career_post.updated_at.localtime.to_s(:short) %></td>

					<td><%= link_to "顯示", career_post_path(career_post), :class => "btn btn-primary" %></td>
					 <td><%= link_to "編輯", edit_career_post_path(career_post), :class => "btn btn-default" %></td>
					<td><%= link_to "刪除", career_post_path(career_post), :method => :delete, :class => "btn btn-default" %></td>
				</tr>	
			<% end %>
			</table>
		</div>
</div>

<%= paginate @career_posts %>
	
