

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"> 孫 丹丹 的履歷表=</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
        <button type="button" class="btn btn-primary">約面試</button>
      </div>
    </div>
  </div>
</div>


    <div id="hoeapp-container" hoe-color-type="lpanel-bg7" hoe-lpanel-effect="shrink">
        <aside id="hoe-left-panel" hoe-position-type="absolute">
            <%= render "/hr_sys/recruit/side_bar" %>
        </aside><!--aside left menu end-->


        <!--start main content-->
        <section id="main-content">
            <div class="space-30"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel">
                                    <div class="panel-body">
                                        <div>
                                            <!-- Nav tabs -->
                                            <ul class="list-inline tabs-bordered margin-b-20" role="tablist">
                                                <li role="presentation" class="active"><a href="#frnd" aria-controls="frnd" role="tab" data-toggle="tab"><i class="fa fa-user"></i> 應徵者 </a></li>
                                            </ul>
                                            <!-- Tab panes -->
                                            <div class="tab-content">
                                                <div role="tabpanel" class="tab-pane active" id="frnd">
                                                    <div class="row">
                                                        <div class="col-sm-6 margin-b-20">
                                                            <div class="user-card clearfix">
                                                                <%= image_tag "den.jpg", width: "90" %>
                                                                <div class="user-card-content">
                                                                    <h4>孫 丹丹</h4>
                                                                    <span><em>產品設計師</em></span>
                                                                    <div>
                                                                        <a href="#" class="btn btn-xs btn-primary" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus"></i> 查看履歷</a>
                                                                        <a href="#" class="btn btn-xs btn-success"><i class="fa fa-envelope"></i> 面試邀請</a>
                                                                        <a class="btn btn-xs btn-danger"><i class="fa fa-minus-square"></i> 刪除</a>
                                                                    </div>
                                                                </div>
                                                            </div><!--user card-->
                                                        </div>
                                                        <div class="col-sm-6 margin-b-20">
                                                            <div class="user-card clearfix">
                                                                <%= image_tag "tz.jpg", width: "90" %>
                                                                <div class="user-card-content">
                                                                    <h4>劉 子子</h4>
                                                                    <span><em>Front end developer</em></span>
                                                                    <div>
                                                                        <a href="#" class="btn btn-xs btn-primary"><i class="fa fa-plus"></i> 查看履歷</a>
                                                                        <a href="#" class="btn btn-xs btn-success"><i class="fa fa-envelope"></i> 面試邀請</a>
                                                                        <a class="btn btn-xs btn-danger"><i class="fa fa-minus-square"></i> 刪除</a>
                                                                    </div>
                                                                </div>
                                                            </div><!--user card-->
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="user-card clearfix margin-b-20">
                                                                <%= image_tag "web_leo.jpg", width: "90" %>
                                                                <div class="user-card-content">
                                                                    <h4>李  歐</h4>
                                                                    <span><em>前端工程師</em></span>
                                                                    <div>
                                                                        <a href="#" class="btn btn-xs btn-primary"><i class="fa fa-plus"></i> 查看履歷</a>
                                                                        <a href="#" class="btn btn-xs btn-success"><i class="fa fa-envelope"></i> 面試邀請</a>
                                                                        <a class="btn btn-xs btn-danger"><i class="fa fa-minus-square"></i> 刪除</a>
                                                                    </div>
                                                                </div>
                                                            </div><!--user card-->
                                                        </div>
                                                        <div class="col-sm-6 margin-b-20">
                                                            <div class="user-card clearfix">
                                                                <%= image_tag "chialin.jpg", width: "90" %>
                                                                <div class="user-card-content">
                                                                    <h4>凡尼莎</h4>
                                                                    <span><em>UI/UX 設計師</em></span>
                                                                    <div>
                                                                        <a href="#" class="btn btn-xs btn-primary"><i class="fa fa-plus"></i> 查看履歷</a>
                                                                        <a href="#" class="btn btn-xs btn-success"><i class="fa fa-envelope"></i> 面試邀請</a>
                                                                        <a class="btn btn-xs btn-danger"><i class="fa fa-minus-square"></i> 刪除</a>
                                                                    </div>
                                                                </div>
                                                            </div><!--user card-->
                                                        </div>
                                                        <div class="col-sm-6 margin-b-20">
                                                            <div class="user-card clearfix">
                                                                <%= image_tag "chiao.jpg", width: "90" %>
                                                                <div class="user-card-content">
                                                                    <h4>馬克斯</h4>
                                                                    <span><em>Rails 開發者</em></span>
                                                                    <div>
                                                                        <a href="#" class="btn btn-xs btn-primary"><i class="fa fa-plus"></i> 查看履歷</a>
                                                                        <a href="#" class="btn btn-xs btn-success"><i class="fa fa-envelope"></i> 面試邀請</a>
                                                                        <a class="btn btn-xs btn-danger"><i class="fa fa-minus-square"></i> 刪除</a>
                                                                    </div>
                                                                </div>
                                                            </div><!--user card-->
                                                        </div>
                                                        <div class="col-sm-6 margin-b-20">
                                                            <div class="user-card clearfix">
                                                                <%= image_tag "shou.jpg", width: "90" %>
                                                                <div class="user-card-content">
                                                                    <h4>Lara Smith</h4>
                                                                    <span><em>全端工程師</em></span>
                                                                    <div>
                                                                        <a href="#" class="btn btn-xs btn-primary"><i class="fa fa-plus"></i> 查看履歷</a>
                                                                        <a href="#" class="btn btn-xs btn-success"><i class="fa fa-envelope"></i> 面試邀請</a>
                                                                        <a class="btn btn-xs btn-danger"><i class="fa fa-minus-square"></i> 刪除</a>
                                                                    </div>
                                                                </div>
                                                            </div><!--user card-->
                                                        </div>
                                                        <div class="col-sm-6 margin-b-20">
                                                            <div class="user-card clearfix">
                                                                <%= image_tag "andy.jpg", width: "90" %>
                                                                <div class="user-card-content">
                                                                    <h4>林安迪</h4>
                                                                    <span><em>行銷經理</em></span>
                                                                    <div>
                                                                        <a href="#" class="btn btn-xs btn-primary"><i class="fa fa-plus"></i> 查看履歷</a>
                                                                        <a href="#" class="btn btn-xs btn-success"><i class="fa fa-envelope"></i> 面試邀請</a>
                                                                        <a class="btn btn-xs btn-danger"><i class="fa fa-minus-square"></i> 刪除</a>
                                                                    </div>
                                                                </div>
                                                            </div><!--user card-->
                                                        </div>
                                                        <div class="col-sm-6 margin-b-20">
                                                            <div class="user-card clearfix">
                                                                <%= image_tag "ag.jpg", width: "90" %>
                                                                <div class="user-card-content">
                                                                    <h4>歐格斯</h4>
                                                                    <span><em>行銷專員</em></span>
                                                                    <div>
                                                                        <a href="#" class="btn btn-xs btn-primary"><i class="fa fa-plus"></i> 查看履歷</a>
                                                                        <a href="#" class="btn btn-xs btn-success"><i class="fa fa-envelope"></i> 面試邀請</a>
                                                                        <a class="btn btn-xs btn-danger"><i class="fa fa-minus-square"></i> 刪除</a>
                                                                    </div>
                                                                </div>
                                                            </div><!--user card-->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                                                 
                    </div>
                </div>
            </div>

            <!--footer start-->
            <div class="footer">
                <div class="row">
                    <div class="col-sm-12">
                        <span>&copy; Copyright 2016. Assan</span>
                    </div>
                </div>
            </div>
            <!--footer end-->
        </section><!--end main content-->
    </div>
</div><!--end wrapper-->