
<div class="container">
  <h1>
    <%= current_user.email %>'s Resume
  </h1>
  <div class="col-md-2">
    <%= render :partial => 'side_bar' %>
  </div>
  <div class="col-md-10">
    <br>
    <p><%= "目前的工作經驗" %></p>
    <p><%= @resume.length_of_working_exp + " 年" %></p>
    <br>
    <br>
    <p><%= "目前在找尋的職務" %></p>
    <p><%= @resume.ideal_role %></p>
    <br>
    <br>
    <p><%= "過去在該職務的經歷" %></p>
    <p><%= @resume.exp_in_role + " 年" %></p>
    <br>
    <br>
    <p><%= "理想的薪資範圍" %></p>
    <p><%= @resume.ideal_salary + " 萬" %></p>
    <br>
    <br>
    <p><%= "目前找工作的狀態是" %></p>
    <p><%= @resume.job_search_status %></p>
    <br>
    <br>
    <p><%= "目前找新工作的原因/期望" %></p>
    <p><%= @resume.reason_for_new_job %></p>
    <br>
    <br>
    <%= link_to "檢視履歷", @resume.resume_attachment.url, class: "btn btn-primary btn-lg" %>
    <br>
    <br>
    <hr>
  </div>
</div>

