
<div class="container">
  <h1>
    <%= current_user.email %>'s Resume
  </h1>
  <div class="col-md-2">
    <%= render :partial => 'side_bar' %>
  </div>
  <div class="col-md-10">
    <h2>
      建立屬於 <%= current_user.name %> 的履歷
    </h2>

    <div class="container">
      <%= form_for @resume, :url => resumes_path do |f| %>
        
        <%= render :partial => 'resume_template', :locals => { f: f } %>

        <%= f.submit "Create", :class => "btn btn-primary" %>
        <%= link_to "Cancel", my_resume_path, :class => "btn btn-default" %>
      <% end %>
    </div>
  </div>
</div>

