<!DOCTYPE html>
<html>
  <head>
    <title>Zeal</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="style.css" rel="stylesheet" type="text/css" media="screen">
  </head>

<body>
  
  <div class="heading-colorbar">
  </div>

    <!-- Static navbar -->
    <div class="navbar navbar-default navbar-static-top yamm sticky" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               <!--  <a class="navbar-brand" href="index.html"><img src="img/logo.png" alt="ASSAN"></a> -->
                <div class="logo-wrap">
                	<%= link_to image_tag("logo_dark.svg"), :root, :alt => "ZEAL" , method: :get %>
                </div>
            </div>
						


						<!-- <div class="search">
                            <form role="form">
                                <input type="text" class="form-control" autocomplete="off" placeholder="Write something and press enter">
                                <span class="search-close"><i class="fa fa-times"></i></span>
                            </form>
                        </div> -->

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
      
      <li>
	      <div class="search-bar">
					 <div class="input-group">
	            <input type="text" class="form-control" placeholder="請輸入職缺關鍵字搜尋">
	            <span class="input-group-btn">
	                <button class="btn btn-theme-bg btn-lg btn-search" type="button"><i class="fa fa-search"></i></button>
                 <!--  <button class="btn btn-theme-bg btn-lg btn-search" type="button"><i class="fa fa-search"></i></button> -->
	            </span>
	        </div>
				</div>
<!--         <div class="search-area">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="請輸入職缺關鍵字搜尋">
                            <span class="input-group-btn">
                                <button class="btn btn-theme-bg btn-lg" type="button"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
  		</li>      
                	<li>
                   	<%= link_to '職涯文章', career_posts_path %>
                  </li>
               <!--          <a href="#" class="dropdown-toggle" data-toggle="dropdown">職涯文章 </a>
                    </li> -->
                    <!--menu home li end here-->
                    <li>
                     <!--    <a href="#" class="dropdown-toggle " data-toggle="dropdown">公司文章 </a> -->
                     <%= link_to '公司文章', companies_path %>
                    </li>
                    <!--menu Portfolio li end here-->
                    <li class="dropdown">
                       <!--  <a href="#" class="dropdown-toggle" data-toggle="dropdown">關於我們</a>  -->
                     <%= link_to '關於我們', about_path %>
                    </li> 
		                <li>
										<% if current_user %>
								<!-- 		<li>
										    <%= link_to('登出', destroy_user_session_path, :method => :delete) %> 
										</li> -->
									<!-- 	<li>
										    <%= link_to('修改密碼', edit_registration_path(:user)) %>
										</li>  -->   
										<li>
										     <% if current_user && current_user.role == "admin" %>
										      <%= link_to('登入後台', admin_career_posts_path)%>
										</li>          
										     <% end %>
                    <li>
										     <div class="main-dropdown">
												<%= render "/layouts/profile_dropdown" %>
												</div>
                    </li>          
										  <% else %>
										<li>
										<!-- 	<%= button_to '<i class="fa fa-lock"></i>註冊'.html_safe, :root, :method => :get, :class => "btn btn-default" %> -->

										    <%= link_to'<i class="fa fa-lock"></i>註冊'.html_safe, new_registration_path(:user), :class => "btn btn-default" %>
										  </li>  
										  <li>
										    <%= link_to'<i class="fa fa-user"></i>登入'.html_safe, new_session_path(:user) %>  
										  </li>    
										  <% end %>
										</li>  
                </ul>

								</div>
            </div><!--/.nav-collapse -->
        </div><!--container-->
    </div><!--navbar-default-->


		<div class="clear-fix"></div>

<!-- 		<% if flash[:notice].present? %>
			<div class="alert alert-success" >
				<%= flash[:notice] %>
			</div>
		<% end %>

	  <% if flash[:alert].present? %>
	    <div class="alert alert-danger" role="alert">
	      <%= flash[:alert] %>
	    </div>
	  <% end %> -->
			  
	  <%= yield %>



        <div class="divide60"></div>
                <footer id="footer">
            <div class="container">

                <div class="row">
                    <div class="col-md-4 col-sm-6 margin30">
                        <div class="footer-col">
                            <h3>關於 ZEAL</h3>
                            <p>
                                世界上最遙遠的距離，是我找到了你，而你拒絕了我  <br>最有溫度的求職媒體，ZEAL 為你拉近公司與求職者距離

                            </p>
                            <ul class="list-inline footer-social">
                                <li>
                                    <a href="#" class="social-icon si-dark si-gray-round si-colored-facebook">
                                        <i class="fa fa-facebook"></i>
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="social-icon si-dark si-gray-round si-colored-linkedin">
                                        <i class="fa fa-linkedin"></i>
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>                        
                    </div><!--footer col-->
                    <div class="col-md-4 col-sm-6 margin30">
                        <div class="footer-col">
                            <h3>聯絡我們</h3>

                            <ul class="list-unstyled contact">
                                <li><p><strong><i class="fa fa-map-marker"></i> 地址:</strong> 104台北市中山區南京東路二段 97 號 5 樓</p></li> 
                                <li><p><strong><i class="fa fa-envelope"></i> Mail Us:</strong> <a href="#">zealor.tw@gmail.com</a></p></li>
                                <li> <p><strong><i class="fa fa-phone"></i> Phone:</strong> 02 25419799</p></li>

                            </ul>
                        </div>                        
                    </div><!--footer col-->
                    <div class="col-md-4 col-sm-6 margin30">
                        <div class="footer-col">
                            <h3>訂閱 ZEAL 電子報</h3>
                            <p>
                                想知道台灣有哪些好公司嗎？馬上訂閱 ZEAL 電子報，您將會收到我們推薦的優質公司及職缺訊息！
                            </p>
                            <form role="form" class="subscribe-form">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Enter email to subscribe">
                                    <span class="input-group-btn">
                                        <button class="btn  btn-theme-dark btn-lg" type="submit">Ok</button>
                                    </span>
                                </div>
                            </form>
                        </div>                        
                    </div><!--footer col-->

                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="footer-btm">
                            <span>&copy;2016. Maintained by Zeal</span>
                        </div>
                    </div>
                </div>
            </div>  
  </body>
</html> 

